<?xml version='1.0' encoding='utf-8'?>
<launch>
    <arg name="ns" default="uav1" />
    <arg name="config_file" default="$(find px4_multirotor_controller)/config/uav_nmpc.yaml" />
    <arg name="world_boundary_json" />
    <group ns="$(arg ns)">
        <node pkg="px4_multirotor_controller" type="px4_multirotor_controller_node" name="px4_multirotor_controller" output="screen" respawn="false" clear_params="true">
            <rosparam command="load" file="$(arg config_file)" subst_value="true" />
            <param name="world_boundary_json" type="str" value="$(arg world_boundary_json)" />
        </node>
    </group>
</launch>
